* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin-left: auto;
    margin-right: auto;
}
#aos{
    margin-top: 250px;
}
.aonam{
    padding: 10px;
}
.aonam1{
    border: 1px solid;
    padding-bottom: 10px;
    overflow: hidden;
     /* overflow: hidden; là nếu quá giới hạn sẽ bị ẩn đi */
}
.aonam img{
    width: 100%;
    height: 400px;

}
.aonam img:hover{
    transition: all 0.4s;
    transform: scale(1.05);

}
.noidungao{
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid;
}
.aonam1 a{
    text-decoration: none;
    color: black;
}